<!DOCTYPE html>
<html>
<head>
  <title>PainManager pre</title>
  <!-- Set gon as a global object to have acces at any level of the app  (bootstarping all data at app start) -->
	<%= include_gon %>
 	<%= stylesheet_link_tag    "application", :media => "all" %>
 	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>